
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->

    <!-- ============FONT AWESOME=========== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" href="/public/css/admin-page-style.css">-->
    <link rel="stylesheet" href="/public/css/edu-style.css">



    <title>ADMIN PANEL</title>
</head>
<body>
  <%- include('blocks/admin-header') %>

    <!--========== CONTENTS ==========-->
    <main>
        <h2 class="main-heading">Site announcements </h2>
        <section>
            <section class="main-container-right">
            <article>
                <div class="icon-article">
                    <img src="/public/images/f1.png" alt="">
                </div>
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                <div><p>by <a href="">Aison Zhaksytayev</a>, Date: 13.05.2022</p></div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <!-- <a href = "#">Read More <span>>></span></a> -->
                </div>
            </article>

            <article>
                <div class="icon-article">
                    <img src="/public/images/f1.png" alt="">
                </div>
                
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                <div><p>by <a href="">Aison Zhaksytayev</a>, Date: 13.05.2022</p></div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                    <!-- <a href = "#">Read More <span>>></span></a> -->
                </div>
            </article>

            <article>
                <div class="icon-article">
                <img src="/public/images/f1.png" alt="">
            </div>
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                    <div><p>by <a href="">Aison Zhaksytayev</a>, Date: 13.05.2022</p></div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <!-- <a href = "#">Read More <span>>></span></a> -->
                </div>
            </article>

            <article>
                <div class="icon-article">
                    <img src="/public/images/f1.png" alt="">
                </div>
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                    <div><p>by <a href="">Aison Zhaksytayev</a>, Date: 13.05.2022</p></div>


                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>

                    <!-- <a href = "#">Read More <span>>></span></a> -->
                </div>
            </article>

            <article>
                <div class="icon-article">
                    <img src="/public/images/f1.png" alt="">
                </div>
                <div>
                    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
                    <div><p>by <a href="">Aison Zhaksytayev</a>, Date: 13.05.2022</p></div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, repellendus?</p>
                    

                </div>
            </article>
        </section>  
        </section>
    </main>

    <!--========== MAIN JS ==========-->
    <script src="assets/edu.js"></script>
</body>
</html>

<style>

</style>