<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/edu-style.css">
    
     <!--========== BOX ICONS ==========-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>PMP Academy</title>
    
  </head>
  <body>
    <%- include('blocks/header-main-ielts') %>
     <!--========== CONTENTS ==========-->
     <main>
        <section>
            
            <div class="heading__available">
                <h2>Courses</h2>
            </div>
            <div class="hok-variants">
              <div class="hok-variants-div">
              <span class="hok-variants-div-span">All variants</span>
              <br>
                <li><a href="/testging">Variant 1</a></li>
                <li><a href="#">Variant 2</a></li>
                <li><a href="#">Variant 3</a></li>
                <li><a href="#">Variant 4</a></li>
                <li><a href="#">Variant 5</a></li>
            </div>

            <div class="hok-note-div">
              <span>Note</span>
              <br>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</li>
              <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </li>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris ni</li>
              <li> si ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in volup</li>
              <li>  tate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur si</li>
              <li> nt occaecat cupidatat non proident, sunt in culpa qui officia</li>
              <li> deserunt mollit anim id est laborum.</li>
           
            </div>
            </div>
        </section>
    </main>
    <script src="/assets/edu-scripts/edu.js"></script>
  </body>
</html>

<style>
</style>
