<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/edu-style.css">
    
     <!--========== BOX ICONS ==========-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>PMP Academy</title>
    
  </head>
  <body>
    <%- include('blocks/header-main-ielts') %>
     <!--========== CONTENTS ==========-->
     <main>
        <section>
            
            <h2 class="available">This Course is not available, <a href="/courses">please come back.</a> </h2>


            <!-- <div class="heading__available">
                <h2>IELTS</h2>
            </div>
            <br> -->

            <!-- <div class="columns">
                <a href="">
                <div class="column">
                    READING
                </div>
            </a>

            <a href="">
                <div class="column">
                    LISTENING
                </div>
            </a>

            <a href="">
                <div class="column">
                    WRITINING
                </div>
            </a> -->

              </div>

              <!-- <div class="ielts-rule">
                  <h2>Rule</h2>
                  <p>* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat./p>
                  <p>* asdfasdf asdf asdf safd sf sda< Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat./p>
                  <p>* asdfasdf asdf asdf safd sf sda</p>
                  <p>* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>* asdfasdf asdf asdf safd sf sda</p>
                  <p>* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <p>* Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

              </div> -->
            
        </section>
    </main>
    <script src="/assets/edu-scripts/edu.js"></script>
  </body>
</html>

<style>
.available a {
    color: rgb(130, 130, 8);
}

  /* .column {
  float: left;
  width: 30%;
  border: 1px solid #58555E;
  border-radius: 5px;
  margin: 20px;
  background: rgb(243, 243, 243);
  padding: 10px 15px 10px 15px;
}

.columns:after {
  content: "";
  display: table;
  clear: both;
}

.column:hover{
    background: rgba(133, 223, 6, 0.225);
    transition: 0.7s;
}

.ielts-rule {
    position: relative;
    margin: 50px 20px 50px 20px;
    border: 1px solid #58555E;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
} */
</style>
