<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/edu-style.css">
    
     <!--========== BOX ICONS ==========-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>PMP Academy</title>
    
  </head>
  <body>
    <%- include('blocks/header-main-ielts') %>
     <!--========== CONTENTS ==========-->
     <main>
        <section>
            <div class="no-container">
                <section id="p0">
                  <h3>KZ Astanasy</h3>
              
                  <label>
                    Almaty
                  </label>
              
                    <label>
                    Nursultan
                  </label>
              
                    <label>
                    Karagandy
                  </label>
              
                    <label>
                    Taraz
                    </label>
              
                    <label>
                    Semei
                  </label>
                  
                </section>
              
                <section id="p1">
                  <h3>1662 ж. ағылшын Ғылымдар академиясының рөлін атқарған Корольдық қоғам құрылған қала:</h3>
              
                  <label>
                    Оксфорд
                  </label>
              
                    <label>
                    Кембридж  
                  </label>
              
                    <label>
                    Честер
                  </label>
              
                    <label>
                    Лондон
                    </label>
              
                    <label>
                    Кентербери
                  </label>
              
                </section>
              
                <section id="p2">
                  <h3>Түрік қағандығы дәуіріндегі (VІ–VІІІғғ. ) құм мен сазбалшықты араластыра отырып жасалған көне саз аспабы:</h3>
              
                  <label>
                    дудыға
                  </label>
              
                    <label>
                     асатаяқ
                    </label>
              
                    <label>
                    дауылпаз
                  </label>
              
                    <label>
                    >жетіген
                    </label>
              
                    <label>
                    дүңгіршек
                  </label>
                  
                </section>
              
                <section id="p3">
                  <h3>Төртінші крест жорығында Византияның жерінде кресшілер құрған мемлекет:</h3>
              
                  <label>
                    Иерусалим корольдігі
                  </label>
              
                    <label>
                    Эдесса графтігі
                  </label>
              
                    <label>
                    Триполи корольдігі
                  </label>
              
                    <label>
                    Сербия корольдігі
                    </label>
              
                    <label>
                    Латын империясы
                  </label>
                  
                </section>
              
                <section id="p4">
                  <h3>1269 жылғы Талас жағасындағы құрылтайда қабылданған шешім:</h3>
              
                  <label>
                   Ұлы Жібек бойындағы қалаларға ерекше өзіндік баж салығын орнатy
                  </label>
              
                    <label>
                   >Батысқа екінші рет жорық жасау
                  </label>
              
                    <label>
                    Отырықшы халықтан белгіленген салық мөлшерінен артық алуға тыйым
                  </label>
              
                    <label>
                    Мөңке өлімінен кейін ұлы ханды сайлау
                    </label>
              
                    <label>
                    Алтын Орда хандарының Египет сұлтандарымен байланысын реттеу
                  </label>
                  
                </section>
              <button ><h3><a href="/hok"">FINISH REVIEW</a></h3></button>
              <h2>Scores: <span id="resulta"></span> </h2>
                <!-- <section id="p0">
                  <h3></h3>
              
                  <label>
                    <input type="radio" value="1" name="">
                  </label>
              
                    <label>
                    <input type="radio" value="2" name="">
                  </label>
              
                    <label>
                    <input type="radio" value="3" name="">
                  </label>
              
                    <label>
                    <input type="radio" value="4" name="">
                    </label>
              
                    <label>
                    <input type="radio" value="5" name="">
                  </label>
                  
                </section> -->
              </div>
        </section>
        <script src="/public/just.js">
</script>
      
    </main>
  </body>
</html>

<style>
  .no-container {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    user-select: none;
      margin: 50px auto;
      background: #f0f0fd;
      border-radius: 5px;
      height: auto;
      width: auto;
      box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
  }
  .no-container section {
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    background: white;
  }
  .no-container label {
    display: block;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px dashed blue;
    margin-bottom: 3px;
  }
  
  .no-container button {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: wheat;
    cursor: pointer;
    border: none;
    border-radius: 10px;
  }
  .no-container button:hover {
    background: black;
    color: white;
  }
   .no-container h2 {
    text-align: center;
  }
  #result {
    font-size: 30px;
    color: darkred;
  }

</style>