<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/edu-style.css">
    
     <!--========== BOX ICONS ==========-->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">


    <title>PMP Academy</title>
    
  </head>
  <body>
    <%- include('blocks/header-main-ielts') %>
     <!--========== CONTENTS ==========-->
     <main>
        <section>
            
            <div class="heading__available">
                <h2>Courses</h2>
            </div>
            <br>
            <table class="table">
              <tr>
                <th class="table__heading">Name</th>
                <th class="table__heading">Variants</th>
                 <!-- <th class="table__heading">Access till</th> -->
                 <th class="table__heading">Enter</th>
                 <!-- <th class="table__heading">Status</th> -->

              </tr>
              
              <tr class="table__row">
                <td class="table__content" data-heading="Name">History of Kazakhstan </td>
                <td class="table__content" data-heading="Variants">5</td>
                <!-- <td class="table__content" data-heading="Time remaining (hours)">0</td> -->
                <td class="table__content" data-heading="Status"><a href="/hok">Get Start</a></td>

                <!-- <td class="table__content" data-heading="Status">&#10006;</td> -->

              </tr>
                <tr class="table__row">
                <td class="table__content" data-heading="Name">Reading Literacy </td>
                <td class="table__content" data-heading="Variants">5</td>
                <!-- <td class="table__content" data-heading="Time remaining (hours)">0</td> -->
                <td class="table__content" data-heading="Status"><a href="#">Get Start</a></td>

                <!-- <td class="table__content" data-heading="Status">&#10006;</td> -->

              </tr>
              <tr class="table__row">
                <td class="table__content" data-heading="Name">Mathematical Literacy</td>
                <td class="table__content" data-heading="Variants">5</td>
                <!-- <td class="table__content" data-heading="Time remaining (hours)">0</td> -->
                <td class="table__content" data-heading="Status"><a href="#">Get Start</a></td>

                <!-- <td class="table__content" data-heading="Status">&#10006;</td> -->
              </tr>
            </table>
        </section>
    </main>
    <script src="/assets/edu-scripts/edu.js"></script>
  </body>
</html>

<style>
  .column {
  float: left;
  width: 30%;
  border: 1px solid #58555E;
  border-radius: 5px;
  margin: 20px;
  background: rgb(243, 243, 243);
  padding: 10px 15px 10px 15px;
}

/* Stops the float property from affecting content after the columns */
.columns:after {
  content: "";
  display: table;
  clear: both;
}

.column:hover{
    background: rgba(133, 223, 6, 0.225);
    transition: 0.7s;
}

.ielts-rule {
    position: relative;
    margin: 50px 20px 50px 20px;
    border: 1px solid #58555E;
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
}
</style>
